.body{
  display: flex;
  justify-content: center;
}

.list{
    width: 500px;
    margin-top: 50px;
}

.listitem{
    padding: 30px;
}

.spinner{
    height: "8rem";
    width: "8rem";
    color:"gray";
    margin-left:"600px";
    margin-top:"250px"
}